<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body id="body">
        
        <div id="menuItemsParent" ></div>
            <input id="hidden" name="firstname" type="hidden"  value="">
            <p id = "dateOfMenu">Click button to add menu Item for Friday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="MondayButton" onclick="myFunction('end_dateOfMenu')">Add Item</button></p>
            <p id = "end_dateOfMenu"> </p>

            <p id = "Saturday">Click button to add menu Item for Saturday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="SaturdayButton" onclick="myFunction('end_saturday')">Add Item</button></p>
            <p id = "end_saturday"> </p>



            <p id = "Sunday">Click button to add menu Item for Sunday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="SundayButton" onclick="myFunction('end_sunday')">Add Item</button></p>
            <p id = "end_sunday"> </p>


            <p id = "Monday">Click button to add menu Item for Monday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="MondayButton" onclick="myFunction('end_monday')">Add Item</button></p>
            <p id = "end_monday"> </p>


            <p id = "Tuesday">Click button to add menu Item for Tuesday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button id="TuesdayButton" onclick="myFunction('end_tuesday')">Add Item</button></p>
            <p id = "end_tuesday"> </p>
            </form>


            <p id = "Wednesday">Click button to add menu Item for Wednesday&nbsp&nbsp<button id="WednesdayButton" onclick="myFunction('end_wednesday')">Add Item</button></p>
            <p id = "end_wednesday"> </p>



            <p id = "Thursday">Click button to add menu Item for Thursday&nbsp&nbsp&nbsp&nbsp&nbsp<button id="ThursdayButton" onclick="myFunction('end_thursday')">Add Item</button></p>
            <p id = "end_thursday"> </p>
        <div> </div>
        
        <form id="menuform" >
           <input type = "button" value="Create Menu">
        </form>






    </body>

        <script>
        var idIncrement = 1;
        var charsTyped = [];
        var id_target = document.getElementById("body");
        var id_save = id_target.getAttribute("id") ;
        var oldElement  =  document.getElementById("hidden");
        //document.addEventListener('keydown',checkKeyPressed, false);
        document.getElementById('body').addEventListener('keypress',checkKeyPressed, false);
        /* Function to create input areas on the form when button clicked */
        function myFunction(elemnt_id) {
            var i;
            var dateOfMenu = document.getElementById(elemnt_id);
            var paragraph = document.createElement("P");

            document.body.insertBefore(paragraph, dateOfMenu);
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            //x.setAttribute("value", "");
            x.setAttribute("id", elemnt_id + "_" + idIncrement);
            idIncrement+=1;
            document.body.insertBefore(x, dateOfMenu);
        }
        function checkKeyPressed(e) {
            // save event so it does not go out of scope this may not be necessary due to 
            // ham fisted coding so far
            var myEvent = e;
            //console.log(id_save);
            //console.log(myEvent.target.getAttribute("id"));
            if (id_save == "body") {
                id_save = myEvent.target.getAttribute("id");
                //console.log(id_save);
            }

            // this is about bubbling ??
            if (myEvent.target !== myEvent.currentTarget){
                //console.log(myEvent.currentTarget.getAttribute("id"));
                //console.log("next is target");
                //console.log(myEvent.target.getAttribute("id"));

                    
                if(id_save !==  myEvent.target.getAttribute("id") ) {
                        // should be here if focus moves from text box to another
                    console.log("Should get here if text box changes")
                    document.getElementById(id_save).setAttribute("value", charsTyped);
                    charsTyped = [];

                     


                }
                    var charCode = typeof myEvent.which == "number" ? myEvent.which : myEvent.keyCode;


                    console.log(String.fromCharCode(charCode));
                    if (charCode) {
                        charsTyped.push(String.fromCharCode(charCode));
                        console.log(charsTyped);

                    }
                }
            }






    </script>
</html>